@import "tailwindcss/base";

@import "tailwindcss/components";
@import "tailwindcss/utilities";

.mode-light {
    >.section {
        >div {
            box-shadow: 0px 0px 50px -20px #ccc;

            >div>div>div>div>button {
                >span {
                    border: 3px dashed #4f46e5;
                }

                >div {
                    background-color: #c7d2fe;
                }
            }
        }
    }

    >div {
        >div {
            >.bar-profil {
                background-color: #c7d2fe;
            }

            >div {
                >button {
                    >span {
                        border: 3px dashed #4f46e5;

                    }

                    >div {
                        background-color: #e0e7ff;
                        border: 3px solid #4f46e5;
                        color: #4f46e5;
                    }
                }

                >div {

                    >.nameExperience {
                        color: #4f46e5;
                    }

                    >div>.cityExperience {
                        color: black;
                    }

                    >.descriptionExperience {
                        color: black;
                    }

                    >button {

                        background-color: #e0e7ff;
                        color: #4f46e5;
                    }
                }
            }
        }

        >div {
            >img {

                background-color: #c7d2fe;
                box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
                filter: drop-shadow(0 25px 25px rgb(0 0 0 / 0.15));

            }
        }
    }

    .button-without-icon {
        border: 2px solid white;
        color: white;
        background-color: #1e40af;
    }

    .button-with-icon {
        background-color: white;
        color: #1e40af;
    }

    .button-bottom {
        background-color: white;
        color: #1e40af;
    }

}

.mode-dark {
    .section {
        >div {
            box-shadow: 0px 0px 50px -20px #ccc;

            >div>div>div>div>button {
                >span {
                    border: 3px dashed #e0e7ff;
                }

                >div {
                    background-color: #19233a;
                }
            }
        }
    }

    >div>div {
        box-shadow: 0px 0px 50px -20px #ccc;

        >.bar-profil {
            background-color: #19233a;
        }

        >div>div {
            >button {
                >span {
                    border: 3px dashed #e0e7ff;

                }

                >div {
                    background-color: #1e3a8a;
                    border: 3px solid #e0e7ff;
                    color: #67e8f9;

                }
            }

            >div {
                >.nameExperience {
                    color: #67e8f9;
                }

                >div>.cityExperience {
                    color: #e0e7ff;
                }

                >.descriptionExperience {
                    color: #e0e7ff;
                }

                >button {

                    background-color: #1e3a8a;
                    color: #67e8f9;
                }
            }
        }

        >div {
            >img {
                background-color: #a5f3fc;
                filter: drop-shadow(0 25px 25px #a5f3fc);
            }
        }
    }

    .button-without-icon {
        border: 2px solid #a5f3fc;
        color: #a5f3fc;
        background-color: #1e40af;
    }

    .button-with-icon {
        border: 1px solid white;
        background-color: #a5f3fc;
        color: #1e40af
    }

    .button-bottom {
        background-color: #1e40af;
        color: #a5f3fc
    }
}

.experience:hover {
    .flip-card-inner {
        transform: rotateY(180deg);
    }
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 100px;
    perspective: 1000px;
    /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.7s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
    background-color: #c7d2fe;
}

/* Style the back side */
.flip-card-back {
    background-color: #3b82f6;
    color: #192353;
    transform: rotateY(180deg);
}