@import "tailwindcss/base";

@import "tailwindcss/components";
@import "tailwindcss/utilities";

.mode-light {

    >.section {
        >div {
            box-shadow: 0px 0px 20px -20px #ccc;
        }
    }

    .cardProjet {

        .card-border {
            border: 2px solid #4f46e5;
            background-color: #eceffe;
            display: flex;
            justify-content: center;
        }

        .card-absolute {
            border: #1e40af dashed 3px;
        }

        .badge-border {
            border: 1px solid #1e40af;
        }
    }

    .bar-profil {
        background-color: #c7d2fe;
    }

    .bouton-top-profile {
        margin-right: 10px;
    }

    .bouton-top-profile {
        margin-right: 10px;

        .button-without-icon {
            border: 2px solid white;
            color: white;
            background-color: #1e40af;
        }

        .button-with-icon {
            border: 1px solid white;
            background-color: white;
        }
    }

    .experience-zone {

        .cityExperience {
            color: black;
        }

        .descriptionExperience {
            color: black;
        }

        /* Style the front side (fallback if image is missing) */
        .flip-card-front {
            background-color: #c7d2fe;
            color: #1e40af;
        }

        /* Style the back side */
        .flip-card-back {
            background-color: #d4daf0;
            transform: rotateY(180deg);
        }
    }

    .scrollbar-md {
        background-color: #c7d2fe;
    }

    .scrollbarRight {
        .button-without-icon {
            border: 2px solid white;
            color: white;
            background-color: #1e40af;
        }

        .button-with-icon {
            background-color: white;
            color: #1e40af;
        }

        .button-bottom {
            background-color: white;
            color: #1e40af;
        }
    }

}

.mode-dark {

    >.section {
        >div {
            box-shadow: 0px 0px 20px 0px #ccc;
        }
    }

    .cardProjet {

        .card-border {
            border: 2px solid #eceffe;
            background-color: #041135;
            display: flex;
            justify-content: center;
        }

        .card-absolute {
            border: #eceffe dashed 3px;
        }

        .badge-border {
            border: 1px solid #eceffe;
        }
    }

    .experience-zone {
        .nameExperience {
            color: #a5f3fc
        }

        .cityExperience {
            color: white;
        }

        .descriptionExperience {
            color: #eceffe;
        }

        /* Style the front side (fallback if image is missing) */
        .flip-card-front {
            background-color: #041135;
        }

        /* Style the back side */
        .flip-card-back {
            background-color: #141927;
            transform: rotateY(180deg);
        }
    }

    .bar-profil {
        background-color: #041135;
    }

    .bouton-top-profile {
        margin-right: 10px;

        .button-without-icon {
            border: 2px solid #a5f3fc;
            color: #a5f3fc;
            background-color: #1e40af;
        }

        .button-with-icon {
            border: 1px solid white;
            background-color: #a5f3fc;
            color: #1e40af
        }
    }

    .scrollbar-md {
        background-color: #041135;
    }

    .scrollbarRight {
        background-color: #041135;

        .button-without-icon {
            border: 2px solid #a5f3fc;
            color: #a5f3fc;
            background-color: #1e40af;
        }

        .button-with-icon {
            border: 1px solid white;
            background-color: #a5f3fc;
            color: #1e40af
        }

        .button-bottom {
            background-color: #1e40af;
            color: #a5f3fc;
        }
    }
}

.experience:hover {
    .flip-card-inner {
        transform: rotateY(180deg);
    }
}

.flip-card {
    background-color: transparent;
    width: 370px;
    height: 130px;
    perspective: 1000px;
    /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.7s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
}